header {
   text-align: center;
    font-family: helvetica;
   	 }
h1 {
    font-size: 70px;
    text-align: center;
    font-family: helvetica;
   	 }
li {
     display: inline;
     font-size: 20px;
     padding: 20px 10px 20px 10px;
     color: white;
     }
img {
	align: center;
     }
p{
	font-family: helvetica;
}